//
   Created by labs on 21/02/16.

div.ui.fluid.card(rv-each-row='data.rows')
    div.left.aligned.content
        div.header {row.map_clientes_key}
        div.meta {row.ext_nome} {row.ext_cliente_id}
        div.description
            Elliot Fu is a film-maker from New York. {row.whscode}